In [1]:
a = "str"
b = 3
print id(a), id(b)

140452908815384 27324744

In [2]:
name = "test"
age = "test"
three = 4
san = 4
print id(name),id(age)
print id(three),id(san)

140452907417248 140452907417248
27324720 27324720

In [5]:
l1=["This","is","a","pig"]
print l1[0]
print l1[0][0]
print id(l1)
l1[3] = "pig"
print l1
print id(l1)

This
T
140452750658376
['This', 'is', 'a', 'pig']
140452750658376

In [8]:
t1=("This","is","a","pig")
print t1[0]
print t1[0][0]

This
T

In [ ]:
t1[3] = "pig"

In [9]:
name = "firefox"
print name[2:]

refox

In [1]:
name = "Tom"
test = "Tom"
name is test

True

In [2]:
test = "firefox"
name is test

False

In [3]:
type(name) is type(test)

True

In [7]:
num = 1.9
print "The num is %f" %num
print "The num is %d" %num
print "The num is %e" %num
print "The num is %s" %num

The num is 1.900000
The num is 1
The num is 1.900000e+00
The num is 1.9

In [8]:
test = str(num)
print type(test),type(num)

<type 'str'> <type 'float'>

In [9]:
Name = '17jo'
Zone = 'com'
print 'www.%s.%s'%(Name,Zone)

www.17jo.com

In [10]:
nYear = 2018
nMonth = 8
nDay = 18
print  '%04d-%02d-%02d'%(nYear,nMonth,nDay)

2018-08-18

In [11]:
fValue = 8.123
print '%06.2f'%fValue

008.12

In [12]:
print '%d'%10
print '%o'%10
print '%02x'%10
print '%04X'%10
print '%.2e'%1.2888

10
12
0a
000A
1.29e+00