In [1]:
a = "str"
b = 3
print id(a), id(b)

140452908815384 27324744

In [2]:
name = "test"
age = "test"
three = 4
san = 4
print id(name),id(age)
print id(three),id(san)

140452907417248 140452907417248
27324720 27324720

In [5]:
l1=["This","is","a","pig"]
print l1[0]
print l1[0][0]
print id(l1)
l1[3] = "pig"
print l1
print id(l1)

This
T
140452750658376
['This', 'is', 'a', 'pig']
140452750658376

In [8]:
t1=("This","is","a","pig")
print t1[0]
print t1[0][0]

This
T

In [ ]:
t1[3] = "pig"

In [9]:
name = "firefox"
print name[2:]

refox

In [1]:
name = "Tom"
test = "Tom"
name is test

True

In [2]:
test = "firefox"
name is test

False

In [3]:
type(name) is type(test)

True

In [7]:
num = 1.9
print "The num is %f" %num
print "The num is %d" %num
print "The num is %e" %num
print "The num is %s" %num

The num is 1.900000
The num is 1
The num is 1.900000e+00
The num is 1.9

In [8]:
test = str(num)
print type(test),type(num)

<type 'str'> <type 'float'>

In [9]:
Name = '17jo'
Zone = 'com'
print 'www.%s.%s'%(Name,Zone)

www.17jo.com

In [10]:
nYear = 2018
nMonth = 8
nDay = 18
print  '%04d-%02d-%02d'%(nYear,nMonth,nDay)

2018-08-18

In [11]:
fValue = 8.123
print '%06.2f'%fValue

008.12

In [12]:
print '%d'%10
print '%o'%10
print '%02x'%10
print '%04X'%10
print '%.2e'%1.2888

10
12
0a
000A
1.29e+00

In [1]:
a = "hello"
b = "hello"
c = a
[id(x) for x in a,b,c]

[140144067980960, 140144067980960, 140144067980960]

In [3]:
a = ['hello']
b = ['hello']
c = a
[id(x) for x in a,b,c]

[140143980751184, 140144015738424, 140143980751184]

In [4]:
a = 'hello'
b = 'hello'
c = a
a = 'world'
[id(x) for x in a,b,c]

[140143980819152, 140144067980960, 140144067980960]

In [5]:
a = ['hello']
b = ['hello']
c = a
a[0] = 'world'
print a,b,c
[id(x) for x in a,b,c]

['world'] ['hello'] ['world']

[140143980366448, 140143980804936, 140143980366448]

In [8]:
a = ['hello',[123,234]]
b = a[:]
print [id(x) for x in a,b]
print [id(x) for x in a]
print [id(x) for x in b]

[140143980367168, 140143980365656]
[140144067980960, 140143980931696]
[140144067980960, 140143980931696]

In [9]:
a[0] = 'world'
a[1].append(345)
print a
print b

['world', [123, 234, 345]]
['hello', [123, 234, 345]]

In [10]:
from copy import deepcopy
a = ['hello',[123,234]]
b = deepcopy(a)
print [id(x) for x in a,b]
print [id(x) for x in a]
print [id(x) for x in b]

[140143980365152, 140143980929608]
[140144067980960, 140143980366592]
[140144067980960, 140143980365368]

In [11]:
a[0] = 'world'
a[1].append(345)
print a
print b

['world', [123, 234, 345]]
['hello', [123, 234]]